#movies img,#movie img{
    width: 100%;
}

/*make it more responsive*/
@media(min-width:960px){
#movies .col-md-3 .well{
    height: 450px;
}

#movies .col-md-3 img{
    height: 75%;
}
}

#title{
    color: white;
}